In [2]:
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,
             columns=['國文','英文','數學','地理','歷史'],
             index = range(1,51)
             )
scores_pd

     國文   英文  數學   地理  歷史
1    88   93  97   96  80
2    75   88  71  100  92
3    89   57  83   53  78
4    98   76  54   82  88
5    65   57  60   82  95
6    66   80  81   72  83
7    98   51  73   60  79
8    78   91  72   95  69
9    50   91  77   65  86
10   84   55  70   57  86
11   66   76  97   72  62
12   87   97  86   85  75
13   65   52  69   58  81
14   69  100  69   67  79
15   74   86  95   73  67
16   50   71  86   66  95
17   53   72  93   85  77
18   97   88  78   97  86
19   89   65  78   86  79
20   59   85  68   56  95
21   84   64  79   89  67
22   55   61  69   52  88
23   93   88  71   96  69
24   89   98  69   97  97
25   81   89  98   66  95
26   99   76  99   85  75
27   74   65  58   73  75
28   79   64  80   55  93
29  100   67  74   88  53
30   80   61  97   85  70
31   89   51  95   71  66
32   88   79  64   66  82
33   86   69  77   81  80
34   69   85  87   51  78
35   67   84  67   85  54
36   61   53  81   90  54
37   96   59  59  100  86
38   91   84  52   95  98
39   66   77  84   84  85
40   57  100  98   87  69
41   75   61  70   92  74
42   61   69  71   52  94
43   96   78  73   74  86
44   85   61  69   56  59
45   58   96  58   84  84
46   97   79  99   76  87
47   56   61  72   76  78
48   70   56  74   81  78
49   61   50  69  100  94
50   62   53  61   86  54

In [3]:
scores_pd.index.name = '學號'
scores_pd.columns.name = '科目'
scores_pd

科目   國文   英文  數學   地理  歷史
學號
1    88   93  97   96  80
2    75   88  71  100  92
3    89   57  83   53  78
4    98   76  54   82  88
5    65   57  60   82  95
6    66   80  81   72  83
7    98   51  73   60  79
8    78   91  72   95  69
9    50   91  77   65  86
10   84   55  70   57  86
11   66   76  97   72  62
12   87   97  86   85  75
13   65   52  69   58  81
14   69  100  69   67  79
15   74   86  95   73  67
16   50   71  86   66  95
17   53   72  93   85  77
18   97   88  78   97  86
19   89   65  78   86  79
20   59   85  68   56  95
21   84   64  79   89  67
22   55   61  69   52  88
23   93   88  71   96  69
24   89   98  69   97  97
25   81   89  98   66  95
26   99   76  99   85  75
27   74   65  58   73  75
28   79   64  80   55  93
29  100   67  74   88  53
30   80   61  97   85  70
31   89   51  95   71  66
32   88   79  64   66  82
33   86   69  77   81  80
34   69   85  87   51  78
35   67   84  67   85  54
36   61   53  81   90  54
37   96   59  59  100  86
38   91   84  52   95  98
39   66   77  84   84  85
40   57  100  98   87  69
41   75   61  70   92  74
42   61   69  71   52  94
43   96   78  73   74  86
44   85   61  69   56  59
45   58   96  58   84  84
46   97   79  99   76  87
47   56   61  72   76  78
48   70   56  74   81  78
49   61   50  69  100  94
50   62   53  61   86  54

In [6]:
display(scores_pd['國文'][:10])
display(scores_pd['數學'][:10])

學號
1     88
2     75
3     89
4     98
5     65
6     66
7     98
8     78
9     50
10    84
Name: 國文, dtype: int64

學號
1     97
2     71
3     83
4     54
5     60
6     81
7     73
8     72
9     77
10    70
Name: 數學, dtype: int64

In [10]:
scores_pd['國文'][:10] + scores_pd['數學'][:10]
scores_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 1 to 50
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國文      50 non-null     int64
 1   英文      50 non-null     int64
 2   數學      50 non-null     int64
 3   地理      50 non-null     int64
 4   歷史      50 non-null     int64
dtypes: int64(5)
memory usage: 2.1 KB

In [8]:
scores_pd['國文'] + scores_pd['數學'] + scores_pd['英文'] + scores_pd['地理'] + scores_pd['歷史']

學號
1     454
2     426
3     360
4     398
5     359
6     382
7     361
8     405
9     369
10    352
11    373
12    430
13    325
14    384
15    395
16    368
17    380
18    446
19    397
20    363
21    383
22    325
23    417
24    450
25    429
26    434
27    345
28    371
29    382
30    393
31    372
32    379
33    393
34    370
35    357
36    339
37    400
38    420
39    396
40    411
41    372
42    347
43    407
44    330
45    380
46    438
47    343
48    359
49    374
50    316
dtype: int64

In [15]:
#統計的實體方法,sum()

scores_pd['總分'] = scores_pd[['國文','英文','數學','地理','歷史']].sum(axis=1)
scores_pd
scores_pd['平均'] = scores_pd[['國文','英文','數學','地理','歷史']].mean(axis=1)
scores_pd

科目   國文   英文  數學   地理  歷史   總分    平均
學號
1    88   93  97   96  80  454  90.8
2    75   88  71  100  92  426  85.2
3    89   57  83   53  78  360  72.0
4    98   76  54   82  88  398  79.6
5    65   57  60   82  95  359  71.8
6    66   80  81   72  83  382  76.4
7    98   51  73   60  79  361  72.2
8    78   91  72   95  69  405  81.0
9    50   91  77   65  86  369  73.8
10   84   55  70   57  86  352  70.4
11   66   76  97   72  62  373  74.6
12   87   97  86   85  75  430  86.0
13   65   52  69   58  81  325  65.0
14   69  100  69   67  79  384  76.8
15   74   86  95   73  67  395  79.0
16   50   71  86   66  95  368  73.6
17   53   72  93   85  77  380  76.0
18   97   88  78   97  86  446  89.2
19   89   65  78   86  79  397  79.4
20   59   85  68   56  95  363  72.6
21   84   64  79   89  67  383  76.6
22   55   61  69   52  88  325  65.0
23   93   88  71   96  69  417  83.4
24   89   98  69   97  97  450  90.0
25   81   89  98   66  95  429  85.8
26   99   76  99   85  75  434  86.8
27   74   65  58   73  75  345  69.0
28   79   64  80   55  93  371  74.2
29  100   67  74   88  53  382  76.4
30   80   61  97   85  70  393  78.6
31   89   51  95   71  66  372  74.4
32   88   79  64   66  82  379  75.8
33   86   69  77   81  80  393  78.6
34   69   85  87   51  78  370  74.0
35   67   84  67   85  54  357  71.4
36   61   53  81   90  54  339  67.8
37   96   59  59  100  86  400  80.0
38   91   84  52   95  98  420  84.0
39   66   77  84   84  85  396  79.2
40   57  100  98   87  69  411  82.2
41   75   61  70   92  74  372  74.4
42   61   69  71   52  94  347  69.4
43   96   78  73   74  86  407  81.4
44   85   61  69   56  59  330  66.0
45   58   96  58   84  84  380  76.0
46   97   79  99   76  87  438  87.6
47   56   61  72   76  78  343  68.6
48   70   56  74   81  78  359  71.8
49   61   50  69  100  94  374  74.8
50   62   53  61   86  54  316  63.2

In [20]:
scores_pd['排名'] = scores_pd['總分'].rank(method='min',ascending=False)
scores_pd

科目   國文   英文  數學   地理  歷史   總分    平均    排名
學號
1    88   93  97   96  80  454  90.8   1.0
2    75   88  71  100  92  426  85.2   8.0
3    89   57  83   53  78  360  72.0  38.0
4    98   76  54   82  88  398  79.6  15.0
5    65   57  60   82  95  359  71.8  39.0
6    66   80  81   72  83  382  76.4  23.0
7    98   51  73   60  79  361  72.2  37.0
8    78   91  72   95  69  405  81.0  13.0
9    50   91  77   65  86  369  73.8  34.0
10   84   55  70   57  86  352  70.4  42.0
11   66   76  97   72  62  373  74.6  29.0
12   87   97  86   85  75  430  86.0   6.0
13   65   52  69   58  81  325  65.0  48.0
14   69  100  69   67  79  384  76.8  21.0
15   74   86  95   73  67  395  79.0  18.0
16   50   71  86   66  95  368  73.6  35.0
17   53   72  93   85  77  380  76.0  25.0
18   97   88  78   97  86  446  89.2   3.0
19   89   65  78   86  79  397  79.4  16.0
20   59   85  68   56  95  363  72.6  36.0
21   84   64  79   89  67  383  76.6  22.0
22   55   61  69   52  88  325  65.0  48.0
23   93   88  71   96  69  417  83.4  10.0
24   89   98  69   97  97  450  90.0   2.0
25   81   89  98   66  95  429  85.8   7.0
26   99   76  99   85  75  434  86.8   5.0
27   74   65  58   73  75  345  69.0  44.0
28   79   64  80   55  93  371  74.2  32.0
29  100   67  74   88  53  382  76.4  23.0
30   80   61  97   85  70  393  78.6  19.0
31   89   51  95   71  66  372  74.4  30.0
32   88   79  64   66  82  379  75.8  27.0
33   86   69  77   81  80  393  78.6  19.0
34   69   85  87   51  78  370  74.0  33.0
35   67   84  67   85  54  357  71.4  41.0
36   61   53  81   90  54  339  67.8  46.0
37   96   59  59  100  86  400  80.0  14.0
38   91   84  52   95  98  420  84.0   9.0
39   66   77  84   84  85  396  79.2  17.0
40   57  100  98   87  69  411  82.2  11.0
41   75   61  70   92  74  372  74.4  30.0
42   61   69  71   52  94  347  69.4  43.0
43   96   78  73   74  86  407  81.4  12.0
44   85   61  69   56  59  330  66.0  47.0
45   58   96  58   84  84  380  76.0  25.0
46   97   79  99   76  87  438  87.6   4.0
47   56   61  72   76  78  343  68.6  45.0
48   70   56  74   81  78  359  71.8  39.0
49   61   50  69  100  94  374  74.8  28.0
50   62   53  61   86  54  316  63.2  50.0

In [21]:
scores_pd.sort_values(by='排名')

科目   國文   英文  數學   地理  歷史   總分    平均    排名
學號
1    88   93  97   96  80  454  90.8   1.0
24   89   98  69   97  97  450  90.0   2.0
18   97   88  78   97  86  446  89.2   3.0
46   97   79  99   76  87  438  87.6   4.0
26   99   76  99   85  75  434  86.8   5.0
12   87   97  86   85  75  430  86.0   6.0
25   81   89  98   66  95  429  85.8   7.0
2    75   88  71  100  92  426  85.2   8.0
38   91   84  52   95  98  420  84.0   9.0
23   93   88  71   96  69  417  83.4  10.0
40   57  100  98   87  69  411  82.2  11.0
43   96   78  73   74  86  407  81.4  12.0
8    78   91  72   95  69  405  81.0  13.0
37   96   59  59  100  86  400  80.0  14.0
4    98   76  54   82  88  398  79.6  15.0
19   89   65  78   86  79  397  79.4  16.0
39   66   77  84   84  85  396  79.2  17.0
15   74   86  95   73  67  395  79.0  18.0
33   86   69  77   81  80  393  78.6  19.0
30   80   61  97   85  70  393  78.6  19.0
14   69  100  69   67  79  384  76.8  21.0
21   84   64  79   89  67  383  76.6  22.0
29  100   67  74   88  53  382  76.4  23.0
6    66   80  81   72  83  382  76.4  23.0
45   58   96  58   84  84  380  76.0  25.0
17   53   72  93   85  77  380  76.0  25.0
32   88   79  64   66  82  379  75.8  27.0
49   61   50  69  100  94  374  74.8  28.0
11   66   76  97   72  62  373  74.6  29.0
41   75   61  70   92  74  372  74.4  30.0
31   89   51  95   71  66  372  74.4  30.0
28   79   64  80   55  93  371  74.2  32.0
34   69   85  87   51  78  370  74.0  33.0
9    50   91  77   65  86  369  73.8  34.0
16   50   71  86   66  95  368  73.6  35.0
20   59   85  68   56  95  363  72.6  36.0
7    98   51  73   60  79  361  72.2  37.0
3    89   57  83   53  78  360  72.0  38.0
5    65   57  60   82  95  359  71.8  39.0
48   70   56  74   81  78  359  71.8  39.0
35   67   84  67   85  54  357  71.4  41.0
10   84   55  70   57  86  352  70.4  42.0
42   61   69  71   52  94  347  69.4  43.0
27   74   65  58   73  75  345  69.0  44.0
47   56   61  72   76  78  343  68.6  45.0
36   61   53  81   90  54  339  67.8  46.0
44   85   61  69   56  59  330  66.0  47.0
22   55   61  69   52  88  325  65.0  48.0
13   65   52  69   58  81  325  65.0  48.0
50   62   53  61   86  54  316  63.2  50.0

In [22]:
def format60(v:int):
    if v >= 60:
        return '及格'
    else:
        return '不及格'

scores_pd[['國文','英文','數學','地理','歷史']].style.format(format60)

In [27]:
scores_pd.style\
.highlight_between(left=0,
                    right=59,
                    color='red',
                    subset=['國文','英文','數學','地理','歷史'],
                    props='color:white;background:red')\
.format(precision=0, subset=['平均','排名'])