In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.262955  1.562215
1    a  two -0.780637  0.352439
2    b  one  1.122608 -0.902996
3    b  two -1.640769  0.539172
4    a  one  0.321770  1.209593

In [2]:
df1 = df.groupby(by=['key1','key2']).sum()
df1

              data1     data2
key1 key2
a    one  -0.941185  2.771808
     two  -0.780637  0.352439
b    one   1.122608 -0.902996
     two  -1.640769  0.539172